<mat-tab-group>
  <mat-tab label="Gran Canaria">
    <div class="datos">
      <p>
        <strong>Nombre de la isla:</strong> Gran Canaria
      </p>
      <p>
        <img src="assets/imagenes/grancanaria.jpg">
      </p>
      <h3>Datos generales.</h3>
      <p>Gran Canaria es una isla situada en el océano Atlántico, perteneciente a la Comunidad Autónoma de Canarias en España. 
        Junto con las islas de Lanzarote, Fuerteventura y La Graciosa forman la provincia de Las Palmas.
        Gran Canaria con una superficie de 1560,1 km² y una altitud de 1956 metros con el Morro de la Agujereada, 
        es la tercera isla del archipiélago en extensión​ y altitud​.</p>
      <p>La isla es uno de los destinos turísticos más importantes de España, aproximándose a los cinco millones de turistas
         anualmente.​En 2012 en el núcleo turístico de Maspalomas se celebró por primera vez en España el Día Mundial del Turismo.
         El Carnaval de Las Palmas de Gran Canaria, declarado Fiesta de Interés Turístico Nacional, es uno de los eventos más 
         importantes de la isla y goza de una importante proyección nacional e internacional.</p>
    </div>
  </mat-tab>
  <mat-tab label="Tenerife">
    <div class="datos">
      <p>
        <strong>Nombre de la isla:</strong> Tenerife
      </p>
      <p>
        <img src="assets/imagenes/tenerife.jpg">
      </p>
      <h3>Datos generales.</h3>
      <p>Tenerife es una isla del océano Atlántico perteneciente a la comunidad autónoma española de Canarias. Junto a La Palma,
        La Gomera y El Hierro conforma la provincia de Santa Cruz de Tenerife. Con una superficie de 2034,38 km² y una población
        de 928 604 habitantes (2020) es la isla más extensa del archipiélago canario y la más poblada de España. Además, Tenerife
        es también la isla más extensa y poblada de la región de la Macaronesia.​</p>
      <p>De gran importancia es el Carnaval de Santa Cruz de Tenerife, declarado Fiesta de Interés Turístico Internacional y 
        considerado como uno de los de mayor relevancia a nivel mundial. Además, la isla posee una variada arquitectura, destacando
        entre ella la colonial y la contemporánea, cuyo máximo exponente es el moderno edificio del Auditorio de Tenerife, situado
        en Santa Cruz de Tenerife.La isla también es conocida por ser un gran destino turístico, ya que recibe a más de seis millones
        de turistas cada año, siendo, por lo tanto, el principal destino turístico del archipiélago canario, así como uno de los más
        importantes de España y del mundo.</p>
    </div>
  </mat-tab>
  <mat-tab label="Lanzarote">
    <div class="datos">
      <p>
        <strong>Nombre de la isla:</strong> Lanzarote
      </p>
      <p>
        <img src="assets/imagenes/lanzarote.jpg">
      </p>
      <h3>Datos generales.</h3>
      <p>Lanzarote es una isla del archipiélago canario (España), en el océano Atlántico. Forma parte de la provincia de Las Palmas.
        Su capital es Arrecife. Con 155 812 habitantes (2020)​ Lanzarote es la tercera isla más poblada de Canarias, tras Tenerife y 
        Gran Canaria, y la segunda de la provincia de Las Palmas. Con una superficie de 845,94 km² es la cuarta isla más extensa del 
        archipiélago. En el centro-suroeste de la isla se encuentra el parque nacional de Timanfaya, que es una de las principales 
        atracciones turísticas de Lanzarote. La isla es en su totalidad desde 1993 Reserva de la Biosfera de la Unesco.
      </p>
    </div>
  </mat-tab>
</mat-tab-group>